<!DOCTYPE html>
<html class="no-js">
<head>
  <title>{{blog_title}}</title>
  <meta charset="{{charset}}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="{{template_directory}}/assets/css/base.css">
  <script src="{{template_directory}}/assets/javascript/core.js" type="text/javascript" defer="true"></script>
